<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Sweet Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/aos.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">
</head>

<body>
    <!--------------  Nav Bar-- -------->

    <section class="section_1 container-fluid p-0">
        <div class="d-flex flex-column">
          <div>
            <header>
              <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#">DELIGHT</a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <div class="navbar-nav mr-auto"></div>
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="./new.html"
                        >Home<span class="sr-only">(current)</span> </a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./about.html">About Us</a>
                      
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./portforlio.html">Portforlio</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./blog.html">Blog</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./services.html">Services</a>
                    </li>
                   
                    
                    <li class="nav-item">
                      <a class="nav-link" href="./contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./furniture-store.html">Store</a>
                      </li>
                  </ul>
                </div>
              </nav>
            </header>
          </div>
  
          <div class="container-fluid text-center heading">
              <video src="./videos/video1.mp4" autoplay muted loop id="myVideo"></video>
            <h1 class="h1" data-aos="fade-up" data-aos-delay="300">Welcome to the <span></span>Delight Home Constructions</h1>
            <h3 class="h3" style="color:white" data-aos="fade-up" data-aos-delay="300"> You Dream It, We Build It.</h3>
            <a href="./contact.html" class="btn btn1">Contact</a>
            <a href="./portforlio.html" class="btn btn2">Explore</a>
          </div>
        </div>
      </section>

    <!-------------Special goal----------->
  
    <section class="section-1">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="pray">
                       <img src="{{ url_for('static', filename='images/wal') }}" alt="main">
                    </div>
                </div>
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="panel text-left">
                        <h1>Our specialization</h1>
                        <p class="pt-4">
                            A synonym for quality, speed and care, Delight Engineering is one of the most trusted 
                            construction companies in South Asia, delivering high-quality buildings and infrastructure for 
                            over three decades. From concept to conclusion, Maga continues to work with an array of stakeholders
                             from investors and developers to public agencies and regional communities. As the largest construction 
                             company in Sri Lanka, its work has enriched all sectors of the economy, 
                            from healthcare and hospitality to transport and water supply.
                        </p>
                        <p>
                            In bringing to life over 500 multi-disciplinary projects, Maga has set global
                             benchmarks in project delivery and sustainability, from completing one of the fastest 
                             Tsunami rehabilitation projects, to building the world’s tallest vertical garden and the 
                             first LEED Platinum apparel factory. The company is anchored by an extensive resource base
                              and driven by a dynamic workforce of over 10,500. Centered on an unwavering vision for 
                              sustainable development,Delight is helping reshape the evolving landscapes around us.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------------------------- Owl Carousel ------------------------------------------------>
    <main>
    <section>
        <div class="blog">
            <div class="container">
                <div class="owl-carousel owl-theme blog-post">
                    <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="./images/mainwall.jpg" alt="post1">
                        <div class="blog-title">
                            <h3>The Best Exterior Designing </h3>
                            <button class="btn btn-blog">Latest</button>
                            <span>2 minutes</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos=" fade-in" data-aos-delay="200">
                            <img src=" ./images/img41.jpg" alt="post1">
                        <div class="blog-title">
                            <h3>
                                The Best Architechturing
                            </h3>
                            <button class="btn btn-blog">Latest</button>
                            <span>2 minutes</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-left" data-aos-delay="200">
                        <img src="./images/speacial.jpg" alt="post1">
                        <div class="blog-title">
                            <h3>
                                The Best Landscaping
                            </h3>
                            <button class="btn btn-blog">Latest</button>
                            <span>2 minutes</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="./images/img35.jpg" alt="post1">
                        <div class="blog-title">
                            <h3>
                                The Best Interior Designing
                            </h3>
                            <button class="btn btn-blog">Latest</button>
                            <span>2 minutes</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-left" data-aos-delay="200">
                        <img src="./images/img42.jpg" alt="post1">
                        <div class="blog-title">
                            <h3>
                                The Best Interior Designing
                            </h3>
                            <button class="btn btn-blog">Latest</button>
                            <span>3 minutes</span>
                        </div>
                    </div>
                </div>
                <div class="owl-navigation">
                    <span class="owl-nav-prev">
                        <i class="fas fa-long-arrow-alt-left"></i>
                    </span>
                    <span class="owl-nav-next">
                        <i class="fas fa-long-arrow-alt-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>
</main>
    <!----------------------------features------------------------------------>
    <section class="section-2 container-fluid p-0">
        <div class="cover">
            <div class="content text-center" data-aos="zoom-in" data-aos-delay="200">
                <h1>
                    Some Features That Made Us Unique
                </h1>
                <p>Since its establishment in 1984, Delight has been an active participant in the 
                    construction industry in Sri Lanka, making a significant contribution to its 
                    development by 
                    applying the knowledge and experience gained through 
                    working with international construction companies.</p>

            </div>
        </div>
        <div class="container-fluid text-center" data-aos="zoom-in" data-aos-delay="200">
            <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                <div class="rect">
                    <h1>2345</h1>
                    <p>Happy Client</p>
                </div>
                <div class="rect">
                    <h1>4000</h1>
                    <p>Projects</p>
                </div>
                <div class="rect">
                    <h1>1500</h1>
                    <p>Repairing</p>
                </div>
                <div class="rect">
                    <h1>3568</h1>
                    <p>Services</p>
                </div>

            </div>
        </div>
    </section>
    <!-----------------------dark--------------------------------------------->
    <section class="offer">
            <div class = "row">
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200"></div>
                    <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="subscribe">
                    <h1> We provide the best service in industry</h1>
                    <p> Delight retains its Platinum rating and number 4 ranking in the Sri Lanka’s Corporate Accountability Index 
                        since 2016, in recognition of its sustainable construction practices and continuous commitment to social,
                        environmental and financial accountability. </p>
                <a href ="#">Join With Us</a>
                </div>
                </div>
            </div>
            </section>
    <!-------------------------Clients---------------------------------->
    <section class="section-4">
        <div class="container text-center">
            <h1 class="text-dark">
                What Our Client's Say About Us
            </h1>
        </div>
        <div class="client row">
            <div class="col-md-4 col-12 text-center" data-aos="fade-right" data-aos-delay="200">
                <div class="card-mr-2 d-inline-block shadow-lg ">
                    <div class="card-img-top">
                        <img src="./images/img41.jpg" alt="client" class="img-fluid rounded-circle w-50 p-4">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Shehani Devindi
                        </h4>
                        <p class="card-text">You can use these sections to highlight the features of heading.
                            Use these paragraphs to focus on the topic you want.
                            Make sure you keep it short and attractive.</p>
                        <p class="text-black">Accountanat at Hemas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center" data-aos="fade-in" data-aos-delay="200">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active text-center">
                            <div class="card-mr-2 d-inline-block shadow-lg ">
                                <div class="card-img-top">
                                    <img src="./images/img6.jpg" alt="client" class="img-fluid rounded-circle w-50 p-4">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">
                                       Nipuna Perera
                                    </h4>
                                    <p class="card-text">You can use these sections to highlight the features of
                                        heading.
                                        Use these paragraphs to focus on the topic you want.
                                        Make sure you keep it short and attractive.</p>
                                    <p class="text-black"> Manager at Sampath Bank</p>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item text-center">
                            <div class="card-mr-2 d-inline-block shadow-lg ">
                                <div class="card-img-top">
                                    <img src="./images/img26.jpg" alt="client"
                                        class="img-fluid rounded-circle w-50 p-4">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Thimathi Disanayake
                                    </h4>
                                    <p class="card-text">You can use these sections to highlight the features of
                                        heading.
                                        Use these paragraphs to focus on the topic you want.
                                        Make sure you keep it short and attractive.</p>
                                    <p class="text-black">CEO at Google</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-4 col-12 text-center" data-aos="fade-left" data-aos-delay="200">
                <div class="card-mr-2 d-inline-block shadow-lg ">
                    <div class="card-img-top">
                        <img src="./images/img34.jpg" alt="client" class="iimg-fluid rounded-circle w-50 p-4">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            Bihan Rajapaksha
                        </h4>
                        <p class="card-text">You can use these sections to highlight the features of heading.
                            Use these paragraphs to focus on the topic you want.
                            Make sure you keep it short and attractive.</p>
                        <p class="text-black">Executive at SLT</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
  
  
    <!----------footer--------------------------------->

    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="zoom-in" data-aos-delay="200">
                <h2>Contact Us</h2>
                <ul class="footer-contact">
                <li>Delight Homes Constructions (Pvt)Ltd,</li>
                <li>No:93/94,Beligollawatta,Thimbirigama,</li>
                <li>Kiridiwela</li>
                <li>Sri Lanka</li>
                <li>Tel: +94 711-514-363 </li>
                <li>Email: <a href="#">delighthomesc@gmail.com</a></li>
                </ul>
            </div>
            <div class="newsletter" data-aos="zoom-in" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Stay Update With Our Latest</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <div class="instagram" data-aos="zoom-in" data-aos-delay="200">
                <h2>Instagram</h2>
                <div class="flex-row">
                    <img src="./images/img3.jpg" alt="image1">
                    <img src="./images/img2.jpg" alt="image2">
                    <img src="./images/img13.jpg" alt="image3">
    
                </div>
                <div class="flex-row">
                    <img src="./images/img7.jpg" alt="image5">
                    <img src="./images/img35.jpg" alt="image6">
                    <img src="./images/img36.jpg" alt="image7">
    
                </div>
            </div>
            <div class="follow" data-aos="zoom-in" data-aos-delay="200">
                <h2>Follow Us</h2>
                <p>Let Us be Social</p>
                <div>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="rights flex-row" data-aos="zoom-in" data-aos-delay="200">
            <h4 class="text-gray">
                Copyright &copy 2019 All rights reserved | made by Delight Home Constructions
            </h4>
        </div>
        <div class="move-up">
            <span>
                <i class="fas fa-arrow-circle-up fa-2x"></i>
            </span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="js/JQuerryv3.4.1 .min.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/aos.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>