<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Sweet Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/aos.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">
</head>

<body>
    <!--------------  Nav Bar-- -------->

    <section class="section_1 container-fluid p-0" style="background: rgba(122, 115, 115,0.5);">
        <div class="d-flex flex-column">
            <div>
                <header>
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#">DELIGHT</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <div class="navbar-nav mr-auto"></div>
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="./new.html">Home </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./about.html">About Us</a>

                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./portforlio.html">Portforlio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./blog.html">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./services.html">Services</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href="./contact.html">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./furniture-store.html">Store<span
                                            class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </header>
            </div>

            <div class="container-fluid text-center heading">
                <video src="./videos/video13.mp4" autoplay muted loop id="myVideo"></video>
                <h1 class="h1">Welcome to the <span></span>Delight Home Constructions</h1>
                <h3 class="h3" style="color:white">You Dream It, We Build It.</h3>

                <a href="./contact.html" class="btn btn1">Contact</a>
                <a href="./portforlio.html" class="btn btn2">Explore</a>
            </div>
        </div>
    </section>
    <section class="section-store-intro">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="pray">
                        <img src="./images/furniture/item16.jpeg" alt="">
                    </div>
                </div>
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="panel-box text-left">
                        <h4>Sofa Collection</h4>
                        <h1>MINIMAL DESIGN FURNITURE </h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque possimus odio nihil, libero
                            placeat repudiandae,
                            nemo nostrum ducimus cum nulla ullam doloribus ipsam, dolores eius!</p>
                        <a href="login.html">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="store">
        <div class="container-fluid p-0">
            <div class="section-heading my-5 text-center">
                <h4 class="sub-headline">
                    Our Furniture Store
                </h4>
                <h1 class="display" style="font-family:var(--Anton)">
                    New Arrivals
                </h1>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1">
                    <img src="./images/furniture/furn4.jpeg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2 point-left ">
                    <div class="menu-item-desc">
                        <h6>$15374.00</h6>
                        <h1>The Recliner Sofa </h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-4 order-xl-3">
                    <img src="./images/furniture/item25.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4 point-left">
                    <div class="menu-item-desc">
                        <h6>$14500.00</h6>
                        <h1>Wood Ovel Table</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5">
                    <img src="./images/furniture/furn14.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6 point-left">
                    <div class="menu-item-desc">
                        <h6>$16000</h6>
                        <h1>The Corner Sofa </h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2">
                    <img src="./images/furniture/item9.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1 point-right ">
                    <div class="menu-item-desc">
                        <h6>$4500</h6>
                        <h1>Ceiling Lamp Shade</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4">
                    <img src="./images/furniture/item8.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-3 point-right">
                    <div class="menu-item-desc">
                        <h6>$5400</h6>

                        <h1>Table Lamp Shade</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6">
                    <img src="./images/furniture/furn6.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5 point-right">
                    <div class="menu-item-desc">
                        <h6>$23500</h6>
                        <h1>The Sofa Beds</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="section-store-intro">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="pray">
                        <img src="./images/furniture/item28.jpeg" alt="">
                    </div>
                </div>
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="panel-box text-left">
                        <h4>Up To 70% OFF</h4>
                        <h1>FOR ALL FURNITURE DECOR</h1>
                        <p>The place where you meet your furniture expectations with the combination of world class
                            designed and manufactured furniture.
                            Delight Furniture online store makes sure that you will find the perfect match for your
                            every furniture need.

                        </p>
                        <a href="./login.html">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="site-content">
            <div class="store-1">
                <div class="container">
                    <h2>Image Gallery</h2>
                    <div class="image-gallery">
                        <a href="./images/furniture/furn12.jpg" class="img-1"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn15.jpg" class="img-2"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn18.jpg" class="img-3"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn16.jpg" class="img-4"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn17.jpg" class="img-5"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn23.jpg" class="img-6"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn30.jpg" class="img-7"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/item15.jpeg" class="img-8"><i class="icon ion-md-expand"></i></a>
                    </div>
                    <section class="section-store-intro">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="pray">
                                        <img src="./images/furniture/item38.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="panel-box text-left">
                                        <h4>Premium Real Wood Experiance</h4>
                                        <h1>Modern Style And Ultimate Functionality</h1>
                                        <p>Delight Seasonal Offers.Please use the ‘Store Locator’ to find your nearest
                                            Dilight showroom. For further enquires please contact or visit any
                                            Dlight showroom where our friendly staff will gladly assist you.</p>
                                        <a href="./login.html">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

            </div>

            <aside class="sidebar">
                <div class="popular-post">
                    <h2>Featured Products</h2>
                    <div class="post-content">
                        <p class="blog-meta"> By Admin<span>February 26,2020</span></p>
                        <img src="./images/furniture/furn13.jpg" alt="">
                        <h2> Trends In Sofa Designing </h2>
                        <p class="blog-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi atque earum velit dolore
                            esse ducimu vero expedita illum magnam,
                            aliquid voluptatem cumque deleniti numquam itaque?
                        </p>
                        <p><a href="./login.html" class="read-more-btn">Shop Now </a>
                        </p>
                    </div>
                    <div class="post-content">
                        <p class="blog-meta">By Admin <span>January 15,2020</span></p>
                        <img src="./images/furniture/furn19.jpg" alt="">
                        <h2> Trends In Leather Sofa Designing </h2>
                        <p class="blog-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi atque earum velit dolore
                            esse ducimu vero expedita illum magnam,
                            aliquid voluptatem cumque deleniti numquam itaque?
                        </p>
                        <p><a href="./login.html" class="read-more-btn">Shop Now </a>
                        </p>
                    </div>
                    <div class="post-content">
                        <p class="blog-meta">By Admin <span>November 26,2019</span></p>
                        <img src="./images/furniture/furn9.jpg" alt="">
                        <h2> Trends In Wooden Sofa Designing </h2>
                        <p class="blog-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi atque earum velit dolore
                            esse ducimu vero expedita illum magnam,
                            aliquid voluptatem cumque deleniti numquam itaque?
                        </p>
                        <p><a href="./login.html" class="read-more-btn">Shop Now </a>
                        </p>
                    </div>
                    <div class="post-content">
                        <p class="blog-meta">By Admin <span>December 25,2019</span></p>
                        <img src="./images/furniture/furn4.jpg" alt="">
                        <h2> Trends In Recliner Sofa Designing </h2>
                        <p class="blog-text">
                            The place where you meet your furniture expectations with the combination of
                            world class designed and manufactured furniture.
                        </p>
                        <p><a href="./login.html" class="read-more-btn">Shop Now </a>
                        </p>
                    </div>
                </div>





            </aside>
        </div>

    </section>
    <section class="store">
        <div class="container-fluid p-0">
            <div class="section-heading my-5 text-center">
                <h4 class="sub-headline">
                    Our Furniture Store
                </h4>
                <h1 class="display" style="font-family:var(--Anton)">
                    Table Collection
                </h1>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1">
                    <img src="./images/furniture/item35.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2 point-left ">
                    <div class="menu-item-desc">
                        <h6>$11500</h6>
                        <h1>Coffee Table Glass Top</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-4 order-xl-3">
                    <img src="./images/furniture/item32.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4 point-left">
                    <div class="menu-item-desc">
                        <h6>$9000</h6>
                        <h1>Coffee Table Elon Mahogani</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5">
                    <img src="./images/furniture/item36.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6 point-left">
                    <div class="menu-item-desc">
                        <h6>$19670</h6>
                        <h1>Cofee Table Glass</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>

            </div>
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2">
                    <img src="./images/furniture/item33.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1 point-right ">
                    <div class="menu-item-desc">
                        <h6>$12000</h6>
                        <h1>Coffee Table Glass Top</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4">
                    <img src="./images/furniture/item34.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-3 point-right">
                    <div class="menu-item-desc">
                        <h6>$14050</h6>
                        <h1>Coffee Table Celo Mahogani</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6">
                    <img src="./images/furniture/item1.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5 point-right">
                    <div class="menu-item-desc">
                        <h6>$23000</h6>
                        <h1>Coffee Table Ivon Mahogani </h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="container">
            <div class="about-us" data-aos="zoom-in" data-aos-delay="200">
                <h2>Contact Us</h2>
                <ul class="footer-contact">
                    <li>Delight Homes Constructions (Pvt)Ltd,</li>
                    <li>No:93/94,Beligollawatta,Thimbirigama,</li>
                    <li>Kiridiwela</li>
                    <li>Sri Lanka</li>
                    <li>Tel: +94 711-514-363 </li>
                    <li>Email: <a href="#">delighthomesc@gmail.com</a></li>
                </ul>
            </div>
            <div class="newsletter" data-aos="zoom-in" data-aos-delay="200">
                <h2>Newsletter</h2>
                <p>Stay Update With Our Latest</p>
                <div class="form-element">
                    <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
                </div>
            </div>
            <div class="instagram" data-aos="zoom-in" data-aos-delay="200">
                <h2>Instagram</h2>
                <div class="flex-row">
                    <img src="./images/img3.jpg" alt="image1">
                    <img src="./images/img2.jpg" alt="image2">
                    <img src="./images/img13.jpg" alt="image3">

                </div>
                <div class="flex-row">
                    <img src="./images/img7.jpg" alt="image5">
                    <img src="./images/img35.jpg" alt="image6">
                    <img src="./images/img36.jpg" alt="image7">

                </div>
            </div>
            <div class="follow" data-aos="zoom-in" data-aos-delay="200">
                <h2>Follow Us</h2>
                <p>Let Us be Social</p>
                <div>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="rights flex-row" data-aos="zoom-in" data-aos-delay="200">
            <h4 class="text-gray">
                Copyright &copy 2019 All rights reserved | made by Delight Home Constructions
            </h4>
        </div>
        <div class="move-up">
            <span>
                <i class="fas fa-arrow-circle-up fa-2x"></i>
            </span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="js/JQuerryv3.4.1 .min.js"></script>


    </script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/aos.js"></script>
    <script src="./js/main.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>