{% extends "base.html" %}

{% block title %}TRAVEL MATE{% endblock %}

{% block content %}

            <div class="container-fluid text-center heading">
                <video src="./videos/video13.mp4" autoplay muted loop id="myVideo"></video>
                <h1 class="h1">Welcome to the <span></span>Delight Home Constructions</h1>
                <h3 class="h3" style="color:white">You Dream It, We Build It.</h3>

                <a href="./contact.html" class="btn btn1">Contact</a>
                <a href="./portforlio.html" class="btn btn2">Explore</a>
            </div>
        </div>
    </section>
    <section class="section-store-intro">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="pray">
                        <img src="./images/furniture/item16.jpeg" alt="">
                    </div>
                </div>
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="panel-box text-left">
                        <h4>Sofa Collection</h4>
                        <h1>MINIMAL DESIGN FURNITURE </h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque possimus odio nihil, libero
                            placeat repudiandae,
                            nemo nostrum ducimus cum nulla ullam doloribus ipsam, dolores eius!</p>
                        <a href="login.html">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="store">
        <div class="container-fluid p-0">
            <div class="section-heading my-5 text-center">
                <h4 class="sub-headline">
                    Our Furniture Store
                </h4>
                <h1 class="display" style="font-family:var(--Anton)">
                    New Arrivals
                </h1>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1">
                    <img src="./images/furniture/furn4.jpeg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2 point-left ">
                    <div class="menu-item-desc">
                        <h6>$15374.00</h6>
                        <h1>The Recliner Sofa </h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-4 order-xl-3">
                    <img src="./images/furniture/item25.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4 point-left">
                    <div class="menu-item-desc">
                        <h6>$14500.00</h6>
                        <h1>Wood Ovel Table</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5">
                    <img src="./images/furniture/furn14.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6 point-left">
                    <div class="menu-item-desc">
                        <h6>$16000</h6>
                        <h1>The Corner Sofa </h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2">
                    <img src="./images/furniture/item9.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1 point-right ">
                    <div class="menu-item-desc">
                        <h6>$4500</h6>
                        <h1>Ceiling Lamp Shade</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4">
                    <img src="./images/furniture/item8.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-3 point-right">
                    <div class="menu-item-desc">
                        <h6>$5400</h6>

                        <h1>Table Lamp Shade</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6">
                    <img src="./images/furniture/furn6.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5 point-right">
                    <div class="menu-item-desc">
                        <h6>$23500</h6>
                        <h1>The Sofa Beds</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="section-store-intro">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="pray">
                        <img src="./images/furniture/item28.jpeg" alt="">
                    </div>
                </div>
                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="panel-box text-left">
                        <h4>Up To 70% OFF</h4>
                        <h1>FOR ALL FURNITURE DECOR</h1>
                        <p>The place where you meet your furniture expectations with the combination of world class
                            designed and manufactured furniture.
                            Delight Furniture online store makes sure that you will find the perfect match for your
                            every furniture need.

                        </p>
                        <a href="./login.html">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="site-content">
            <div class="store-1">
                <div class="container">
                    <h2>Image Gallery</h2>
                    <div class="image-gallery">
                        <a href="./images/furniture/furn12.jpg" class="img-1"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn15.jpg" class="img-2"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn18.jpg" class="img-3"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn16.jpg" class="img-4"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn17.jpg" class="img-5"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn23.jpg" class="img-6"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/furn30.jpg" class="img-7"><i class="icon ion-md-expand"></i></a>
                        <a href="./images/furniture/item15.jpeg" class="img-8"><i class="icon ion-md-expand"></i></a>
                    </div>
                    <section class="section-store-intro">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="pray">
                                        <img src="./images/furniture/item38.jpeg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="panel-box text-left">
                                        <h4>Premium Real Wood Experiance</h4>
                                        <h1>Modern Style And Ultimate Functionality</h1>
                                        <p>Delight Seasonal Offers.Please use the ‘Store Locator’ to find your nearest
                                            Dilight showroom. For further enquires please contact or visit any
                                            Dlight showroom where our friendly staff will gladly assist you.</p>
                                        <a href="./login.html">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

            </div>

            <aside class="sidebar">
                <div class="popular-post">
                    <h2>Featured Products</h2>
                    <div class="post-content">
                        <p class="blog-meta"> By Admin<span>February 26,2020</span></p>
                        <img src="./images/furniture/furn13.jpg" alt="">
                        <h2> Trends In Sofa Designing </h2>
                        <p class="blog-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi atque earum velit dolore
                            esse ducimu vero expedita illum magnam,
                            aliquid voluptatem cumque deleniti numquam itaque?
                        </p>
                        <p><a href="./login.html" class="read-more-btn">Shop Now </a>
                        </p>
                    </div>
                    <div class="post-content">
                        <p class="blog-meta">By Admin <span>January 15,2020</span></p>
                        <img src="./images/furniture/furn19.jpg" alt="">
                        <h2> Trends In Leather Sofa Designing </h2>
                        <p class="blog-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi atque earum velit dolore
                            esse ducimu vero expedita illum magnam,
                            aliquid voluptatem cumque deleniti numquam itaque?
                        </p>
                        <p><a href="./login.html" class="read-more-btn">Shop Now </a>
                        </p>
                    </div>
                    <div class="post-content">
                        <p class="blog-meta">By Admin <span>November 26,2019</span></p>
                        <img src="./images/furniture/furn9.jpg" alt="">
                        <h2> Trends In Wooden Sofa Designing </h2>
                        <p class="blog-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi atque earum velit dolore
                            esse ducimu vero expedita illum magnam,
                            aliquid voluptatem cumque deleniti numquam itaque?
                        </p>
                        <p><a href="./login.html" class="read-more-btn">Shop Now </a>
                        </p>
                    </div>
                    <div class="post-content">
                        <p class="blog-meta">By Admin <span>December 25,2019</span></p>
                        <img src="./images/furniture/furn4.jpg" alt="">
                        <h2> Trends In Recliner Sofa Designing </h2>
                        <p class="blog-text">
                            The place where you meet your furniture expectations with the combination of
                            world class designed and manufactured furniture.
                        </p>
                        <p><a href="./login.html" class="read-more-btn">Shop Now </a>
                        </p>
                    </div>
                </div>





            </aside>
        </div>

    </section>
    <section class="store">
        <div class="container-fluid p-0">
            <div class="section-heading my-5 text-center">
                <h4 class="sub-headline">
                    Our Furniture Store
                </h4>
                <h1 class="display" style="font-family:var(--Anton)">
                    Table Collection
                </h1>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1">
                    <img src="./images/furniture/item35.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2 point-left ">
                    <div class="menu-item-desc">
                        <h6>$11500</h6>
                        <h1>Coffee Table Glass Top</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-4 order-xl-3">
                    <img src="./images/furniture/item32.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4 point-left">
                    <div class="menu-item-desc">
                        <h6>$9000</h6>
                        <h1>Coffee Table Elon Mahogani</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5">
                    <img src="./images/furniture/item36.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6 point-left">
                    <div class="menu-item-desc">
                        <h6>$19670</h6>
                        <h1>Cofee Table Glass</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>

            </div>
            <div class="row no-gutters">
                <div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2">
                    <img src="./images/furniture/item33.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1 point-right ">
                    <div class="menu-item-desc">
                        <h6>$12000</h6>
                        <h1>Coffee Table Glass Top</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4">
                    <img src="./images/furniture/item34.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-3 point-right">
                    <div class="menu-item-desc">
                        <h6>$14050</h6>
                        <h1>Coffee Table Celo Mahogani</h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-6 order-xl-6">
                    <img src="./images/furniture/item1.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-5 point-right">
                    <div class="menu-item-desc">
                        <h6>$23000</h6>
                        <h1>Coffee Table Ivon Mahogani </h1>
                        <a href="./login.html" class="btna mt-3 d-none d-xl-block">Add To Cart</a>
                    </div>
                </div>

            </div>
        </div>
    </section>

   {% endblock %}